$secondary: #282938;
$primary: #1c1e53;
$danger: #fcd980;
$info: #f4f6fc;
$light: #282938;

$input-color: white;
$input-border-width: 3px;
$input-border-color: rgba(255, 255, 255, 0.1);
$input-disabled-bg: rgb(204, 235, 169);
$input-bg: $primary;
$input-placeholder-color: rgba(255, 255, 255, 0.1);
$input-border-radius-sm: 0.7rem;
$input-border-radius-lg: 0.8rem;
$input-padding-y: 1rem;
$input-padding-x: 1rem;
$input-font-size: 18px;

.item {
  width: 100%;
  position: relative;
  display: inline-block;
}

.notify-badge {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background: $primary;
  text-align: center;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}

.img-hero {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.parent {
  position: relative;
}

.content {
  padding: 70px 100px 100px 100px;
}
.text-over {
  position: absolute;
  top: 70px;
  left: 80px;
}

.form-control {
  background-color: none;
  border: 1px solid #1c1e53;
  color: green;
}

.form-check {
  .form-check-input {
    // background-color: no ne;
    // border: #fcd980;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
